<section class="filter-control">
    <div class="search-field">
        <input class="search-input" type="text" placeholder="Код или GTIN товара">
        <button id="search" type="submit">
            <svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg" cursor="default" style="color: rgb(122, 129, 155);">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.75 1.739a.75.75 0 00-1.5 0V9.25H1.739a.75.75 0 100 1.5H9.25V18.261H10h-.75a.75.75 0 101.5 0H10h.75V10.75H18.261V10v.75a.75.75 0 000-1.5V10v-.75H10.75V1.739z" fill="currentColor"></path>
            </svg>
        </button>
    </div>
    <div class="multiple-list">
        <div class="multiple-status">Статус</div>
        <div class="status-list">
            <ul class="list">
                <li class="list-item">Нанесен</li>
                <li class="list-item">В обороте</li>
                <li class="list-item">Выбыл</li>
            </ul>
        </div>
        <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" class="MuiSelect-icon MuiSelect-iconStandard css-1rb0eps">
            <path d="M12 6H4l4 4 4-4z" fill="currentColor"></path>
        </svg>
    </div>
    <button class="show-button"><a id="show-anchor">Показать</a></button>
</section>
