<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img src="/img/chestnyj_znak.png" alt="честный знак">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="mainNavbar" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/home">Главная</a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Импорт</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/ozon" target="_blank">Создать импорт для Ozon</a>
                        <a class="navbar-item" href="/wildberries" target="_blank">Создать импорт для WB</a>
                        <a class="navbar-item" href="/yandex" target="_blank">Создать импорт для Яндекс</a>
                        <a class="navbar-item" href="/stocks" target="_blank">Создать импорт для остатков</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Действия с КИЗ</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/input_own" target="_blank">Ввод в оборот (Производство РФ)</a>
                        <a class="navbar-item" href="/sale_ozon" target="_blank">Вывод из оборота — Ozon</a>
                        <a class="navbar-item" href="/sale_wb" target="_blank">Вывод из оборота — WB</a>
                        <a class="navbar-item" href="/wildberries/set_marks" target="_blank">Подстановка маркировки (WB)</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">Другие действия</a>
                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/test_features" target="_blank">Обновить краткий отчёт</a>
                        <a class="navbar-item" href="/personal_orders" target="_blank">Создать персональный заказ</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {{{body}}}

    <button id="top" class="button-top">
        <svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#ArrowLongUp_large_svg__clip0_35331_5070)">
                <path d="M12 2v20m0-20l7 6.364M12 2L5 8.364" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
            <defs><clipPath id="ArrowLongUp_large_svg__clip0_35331_5070"><path fill="#fff" transform="rotate(90 12 12)" d="M0 0h24v24H0z"></path></clipPath></defs>
        </svg>
    </button>
    <script src="/script.js"></script>
</body>
</html>
