{{> sub-nav buttons=buttons}}

<div class="result">Файл remarking.xml успешно сформирован</div>
<section class="table">
    <div class="marks-table">
        <div class="marks-table-header">
            <div class="header-cell">КИЗ</div>
            <div class="header-cell">Код ТНВЭД</div>
            <div class="header-cell">Страна</div>
        </div>
        <div class="header-wrapper"></div>
        {{#each marks}}
        <div class="table-row">
            <span class="col-mark">{{mark}}</span>
            <span class="col-name">{{tnved}}</span>
            <span class="col-name">РОССИЯ</span>
        </div>
        {{/each}}
    </div>
</section>
