{{> sub-nav buttons=buttons}}

<section class="table">
    <div class="marks-table">
        <div class="marks-table-header">
            <div class="header-cell">Наименование</div>
            <div class="header-cell">Статус</div>
        </div>
        <div class="header-wrapper"></div>
        {{#each orders}}
        <div class="table-row">
            <span id="name">{{name}}</span>
            <span id="status-current">Актуальный товар</span>
            {{#if quantity}}<span id="quantity">{{quantity}}</span>{{/if}}
        </div>
        {{/each}}
    </div>
</section>
<div class="body-wrapper"></div>
