{{> sub-nav buttons=buttons}}

<section class="table">
    <div class="marks-table">
        <div class="marks-table-header">
            <div class="header-cell">Наименование</div>
            <div class="header-cell">Статус</div>
        </div>
        <div class="header-wrapper"></div>
        {{#each items}}
        <div class="table-row">
            <span class="col-name">{{name}}</span>
            {{#if isNew}}
                <span class="col-status">Новый товар</span>
            {{else if isModeration}}
                <span class="col-status-moderation">На модерации</span>
            {{else}}
                <span class="col-status-current">Актуальный товар</span>
            {{/if}}
        </div>
        {{/each}}
    </div>
</section>
<section class="action-form">
    <button id="current-order"><a href="{{marksOrderUrl}}" target="_blank">Создать заказы маркировки</a></button>
</section>
<div class="body-wrapper"></div>
